* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color:  hsl(0, 0%, 98%);
    padding-top: 45px;
    font-family: 'Poppins', sans-serif;
}
.top {
    text-align: center;
}
.power {
    color: hsl(234, 12%, 34%);
    margin-bottom: 10px;
}
.red {
    color: hsl(229, 6%, 66%);
    font-weight: lighter;
}
.top p {
    width: 38%;
    margin: 0 auto;
    font-size: 14px;
    color: hsl(229, 6%, 66%);
}
.container2 {
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 50px;
}
.project {
    width: 30%;
    margin: auto;
    border-radius: 5px;
    padding: 25px 20px;
    background-color: white;
    box-shadow: 0px 5px 15px hsl(229, 6%, 66%);
}
.project img {
    float: right;
}
.project p {
    font-size: 13px;
    margin-bottom: 30px;
    color: hsl(229, 6%, 66%);
}
.project h4 {
    margin-bottom: 5px;
    color: hsl(234, 12%, 34%);
}
.four {
    margin-top: 30px;
    border-top: 3px solid hsl(34, 97%, 64%);
}
.one {
    border-top: 3px solid hsl(180, 62%, 55%);
}
.two {
    border-top: 3px solid hsl(0, 78%, 62%);
}
.three {
    border-top: 3px solid hsl(212, 86%, 64%);
}
.one, .three {
    position: relative;
    top: 123px;
}

@media (max-width:1000px) {
    .container2 {
        width: 80%;
    }
}

@media (max-width:950px) {
    .container2 {
        width: 75%;
    }
    .one, .three {
        position: relative;
        top: 0;
    }
    .project {
        width: 46%;
    }
    .four {
        margin-top: 0;
    }
    .one, .two {
        margin-bottom: 22px;
    }
}

@media (max-width:805px) {
    .container2 {
        width: 90%;
    }
}

@media (max-width:655px) {
    .container2 {
        flex-direction: column;
        width: 70%;
    }
    .project {
        width: 80%;
        margin-bottom: 25px;
    }
    .top p {
        width: 57%;
        font-size: 14px;
    }
    .top {
        width: 100%;
    }
    .top h2 {
        width: 100%;
    }
    
}

@media (max-width:500px) {
    .container2 {
        flex-direction: column;
        width: 70%;
    }
    .project {
        width: 100%;
        margin-bottom: 25px;
    }
    .four {
        margin-top: 0;
    }
    .top p {
        width: 100%;
        font-size: 15px;
    }
    .top {
        width: 70%;
        margin: auto;
    }
    .top h2 {
        width: 100%;
    }
}
